{% extends "base.html" %}
{% load static %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
    <div class="container">
      <!-- row of columns -->
      <div class="row">
        <div class="col-md-4 sidebar">
            <h3>Categories</h3>
            <ul>
                <li {% if not category %}class="selected"{% endif %}>
                    <a href="{% url "shop:index" %}">All</a>
                </li>
            {% for c in categories %}
                <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
            </ul>
        </div>

    <div id="main" class="col-md-8 product-list">
    
    <div class="product-detail">
        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
        <h1>{{ product.name }}</h1>
        <h2><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h2>
        <p class="price">${{ product.price }}</p>

        <form action="{% url "shop:cart_add" product.id %}" method="post">
            {{ cart_product_form }}
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" value="Add to cart">
        </form>
        
        {{ product.description|linebreaks }}
    </div>
 </div>
</div>
<hr>

{% endblock %}


