{% extends "accounts/base.html" %}
{% load i18n %}

{% block title %}{% trans "Register Here!" %}{% endblock %}
{% block header %}
        <h1>{% block page_title %}Register Here!{% endblock page_title %}</h1>
      {% endblock header %}
{% block content %}
  <section class="form short">
    <h1>{% trans "Register" %}</h1>
    <form method="post" id="user_form" enctype="multipart/form-data">
      {% csrf_token %}
      {{ user_form.as_p }}
      {{ profile_form.as_p }}
      
      <p class="submitRow">
        
        <input type="submit" value="{% trans "Register" %}" />
      </p>
    </form>
  </section>
{% endblock %}
