{% extends 'base.html' %}

{% load i18n %}

{% block title %}{{ page_title }}{% endblock %}
{% block header %}{{ page_title }}{% endblock %}


{% block content %}
    <ul class="albums">
        {% for album in album_list %}
            {# could get here by either album list or location detail #}
            {# if there is a location, then go to album in that context #}
           
            <li>
                <a href="{% url 'photo:album' album.pk %}">
                    {% include 'photo/_cover_photo.html' with object=album %}
                    <span class="name">{{ album.name|truncatechars:"45" }}</span>
                    {% with count=album.photo_set.count %}
                        {% include 'photo/_photo_count.html' %}
                    {% endwith %}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
