{% extends "accounts/base.html" %}
{% load i18n %}

{% block title %}{% trans "Profile" %}{% endblock %}

{% block content %}
  <section class="form short">
    <h1>{% trans "Profile" %}</h1>
    <h2>{{ user.name }}</h2>
    <h3>{{ user.email }}</h3>
    {% if userprofile %}
        <p>Website: <a href="{{ userprofile.homepage }}">{{ userprofile.homepage }}</a></p>
        <br/>
        {% if userprofile.avatar %}
            <img src="{{ userprofile.avatar.url }}"  />
        {% endif %}
    {% endif %}
  </section>
{% endblock %}
