

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.jumbotron h1 {
    color: rgba(200, 50, 255, 1);
}
.row1 {
    background-color: red;
} 

.row2 {
    background-color: green;
}

/* contact page css start here */

.addul{border-bottom:1px solid #dcdcdc;padding-bottom: 20px;margin-bottom: 20px; text-align:left;}

.addul span{font: normal normal normal 15px/1.4 Arial, Helvetica, sans-serif ;color:#383838;padding-left: 8px;}

.addul1{ border-bottom:1px solid #dcdcdc;padding-bottom: 20px;margin-bottom: 20px;text-align:left;}

.addul1 span{font: normal normal normal 15px/1.4 Arial, Helvetica, sans-serif ;color:#383838;padding-left: 8px;}

.addul2{border-bottom:1px solid #dcdcdc;padding-bottom: 20px;margin-bottom: 20px;text-align:left;}

.addul2 span{font: normal normal normal 15px/1.4 Arial, Helvetica, sans-serif ;color:#383838;padding-left: 8px;}

.addul3{ border-bottom:1px solid #dcdcdc;padding-bottom: 20px;margin-bottom: 20px;text-align:left;}

.addul3 span{font: normal normal normal 15px/1.4 Arial, Helvetica, sans-serif ;color:#383838;padding-left: 8px;}

.for-border3{ background:#f3f3f3; height:1px;margin: 35px 0px 1px 0px;}

.mapname{ font: normal normal normal 24px/1 Open Sans,Arial, Helvetica, sans-serif ;color:#26292b;margin:0px 0px 20px 0px;}
.mapimg{ border:1px solid #e9e8e8; background:#fff;padding: 5px 5px 5px 6px;}

/* contact page css end here */
.contactname{font: normal normal normal 25px/1 OpenSans-Regular,Arial, Helvetica, sans-serif ;color:#fff;margin:0px; padding:0; padding-left: 15px;}

.contactform-div{ width:645px;}

.h2class4{ font: normal normal normal 24px/1 Open Sans,Arial, Helvetica, sans-serif ;color:#26292b;margin:40px 0px 20px 0px;}


p input:focus{ background: #eee; }
p input {width:303px; height:38px; background:#fff; border:1px solid #e9e8e8; border-radius:3px; margin:4px 0px 24px 0px; padding-left:11px;box-shadow: 0px 0px 0px 2px #f1f1f1;
font: normal normal normal 14px/1.4 Arial, Helvetica, sans-serif ; outline: none;font-family: 'FontAwesome';
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

p label  {width:400px; height:38px; }
p textarea {width:303px;border:1px solid #e9e8e8; border-radius:3px;}
p textarea:focus{ background: #eee; }



a.button.light {
    color:#666;
    background:#ededed;
}

.text-left {
    text-align:left;
}

.text-right {
    text-align:right;
}

table {
    width:100%;
    border-spacing:0;
    border-collapse: collapse; 
}

table th, table td {
    text-align:left;
    font-size:12px;
    padding:10px;
    margin:0;
}

tbody tr:nth-child(odd) {
    background:#efefef;
}

tbody tr.subtotal {
    background:#ccc;
}

thead th, tbody tr.total {
    background:#5993bb;
    color:#fff;
    font-weight:bold;
}

table.cart {
    margin-bottom:40px;
}

table.cart img {
    width:180px;
}

tbody td.num {
    text-align:right;
}

td input[type="submit"] {
    font-size:12px;
    padding:4px 10px;
}

form p label, form p input {
    float:left;
    clear:both;
}

form p label {
    font-size:14px;
    padding-bottom:4px;
}

form p input {
    width:300px;
    font-size:13px;
    margin-bottom:10px;
    padding:10px 12px;
    border:0;
    background:#efefef;
    color:#666;
    border-radius:4px;
}

ul.errorlist {
   float:left;
   color:#ff0000;
   clear:both;
   font-size:13px;
   margin:0; 
   padding:0;
}

.product-list .item {
    width:25%;
    padding:10px 20px 10px 0;
    float:left;
    text-align:center;
    line-height:1.2;
}

.product-list .item img {
    width:100%;
    margin-bottom:8px;
}

.product-detail {
    text-align:justify;
}

.product-detail .price {
    color:#333;
    font-size:28px;
    font-weight:bold;
}

.product-detail img {
    width:40%;
    float:left;
    padding:0 20px 20px 0;
}

.product-detail h1 {
    margin-bottom:0;
}

.product-detail h2 {
    margin-top:10px;
}











