{% extends "base.html" %}
{% load latest_posts %}
{% load humanize %}
{% block head_title %} {{ block.super }} - Blog Topik{% endblock %}

        {% block content %} 
        
        <div class="row">
          <div class="col-md-8">
          {% block main %} 
          <h2>{{ item.title }}</h2>
          {% autoescape off %}
                <p> {{ item.content }} </p>
                {% endautoescape %}
          
          <p> {{ item.publish_date|date:"D d M Y" }} | <a href ="{% url 'blog:category' item.category.slug %}">{{ item.category }}</a> | {% for tag in item.tags.all %}
                <span> {{ tag.name }} </span> {% endfor %}
                {% if item.views > 1 %}
                    ({{ item.views }} views)
                {% elif item.views == 1 %}
                    ({{ item.views }} view)
                {% endif %}
          </p>

          <p><a class="btn btn-default" href="{% url 'blog:index' %}" role="button">All publications &raquo;</a></p>
           <h3 id="comments">Comments:</h3>
  <form id="postcomment" method="post" action="{% url 'blog:detail' item.slug %}">
    <ul>
        {% if not request.user.is_authenticated %}
        <li><label for="id_name">{{form.name.label}}:</label> {{form.name}} <span class="about">(optional)</span></li>
        <li><label for="id_website">{{form.website.label}}:</label> {{form.website}} <span class="about">(optional)</span></li>
      {% endif %}
        <li>{{form.content}}</li>
      <li><small><em><a href="http://daringfireball.net/projects/markdown/syntax">(Supports Markdown Syntax)</a></em></small></li>
        
        <li><input type="submit" value="Submit Comment" /></li>
        <li>{{form.ancestor}}</li>
    </ul>
    {% csrf_token %}
  </form>
  <ul id="commenters">
    {% for comment in comment_tree %}
      {% if comment.user %}
        <li id="{{comment.id}}" class="comment" style="margin-left:{{comment.depth|add:comment.depth}}em;"><p class="poster"><span class="user">{% if comment.user.get_full_name %}{{comment.user.get_full_name}}{% else %}{{comment.user.username}}{% endif %}</span> - {{comment.date|naturaltime}}</p><p>{{comment.content|safe}}</p><p><a href="" class="reply">reply</a></p></li>
      {% elif comment.name %}
        <li id="{{comment.id}}" class="comment" style="margin-left:{{comment.depth|add:comment.depth}}em;"><p class="poster">{% if comment.website %}<a href="{{comment.website}}">{{comment.name}}</a>{% else %}{{comment.name}}{% endif %} - {{comment.date|naturaltime}}</p><p>{{comment.content|safe}}</p><p><a href="" class="reply">reply</a></p></li>
      {% elif comment.deleted %}
        <li id="{{comment.id}}" class="comment" style="margin-left:{{comment.depth|add:comment.depth}}em;">[Deleted] - {{comment.date|naturaltime}}<p>This comment was removed</p></li>
      {% else %}
        <li id="{{comment.id}}" class="comment" style="margin-left:{{comment.depth|add:comment.depth}}em;"><p class="poster">Anonymous - {{comment.date|naturaltime}}</p><p>{{comment.content|safe}}</p><p><a href="" class="reply">reply</a></p></li>
      {% endif %}
    {% empty %}
      <li>There are currently no comments. You can be first!</li>
    {% endfor %}
  </ul>
          {% endblock main %} 
          
          </div>
        
           <div class="col-md-4">   
             {% block aside %} 
                {{ block.super }}  
                <h2>Latest Posts</h2>
                  <div>
                      {% latest_posts %}
                  </div>        
             {% endblock aside %}
           </div>    
         
         </div>
        {% endblock content %}
