{% extends "base.html" %}
{% block head_title %} {{ block.super }} - Profile {{ user.username }} {% endblock %}

{% block content %}

     <div class="row">
          <div class="col-md-8">
          {% block main %} 
          <h2>Profile of {{ user.username }}'s</h2>
          <img src="{{user.profile.photo}}" class="img-account">
          
          

                <form id="user_form" method="post" action="/userprofile/profile/edit/"
                        enctype="multipart/form-data">
                    {% csrf_token %}

                    {{ edit_form.as_p }}
                    {{ profileform.as_p }}
                  <p>
                  <input type="submit" name="submit" class="btn btn-default" value="Save" />
                  </p>
                </form>


          {% endblock main %} 
          
          </div>
        
           <div class="col-md-4">   
             {% block aside %} 
                <h2>My Profile</h2>
                  <div>
                  <ul>
                  <li><a href="/userprofile/profile/">My Profile</a></li>
                  <li><a href="/userprofile/profile/edit/">Edit Profile</a></li>
                  
                  </ul>

                  </div>        
             {% endblock aside %}
           </div>    
         
         </div>

{% endblock %}
